<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<style>
		#gjs {
			border: 3px solid #444;
		}
		.gjs-cv-canvas {
			top: 0;
			width: 100%;
			height: 100%;
		}
		.gjs-block {
			width: auto;
			height: auto;
			min-height: auto;
		}
	</style>
	<div id="gjs">
		<h1>Hello World Component!</h1>
	</div>
	<div id="blocks"></div>
</body>
</html>